* {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-block-start: 0px;
}

.MuiPaper-root{
  background-color: transparent;
}

.MuiToolbar{
  background-color: transparent;
}

.MuiTableRow{
  background-color: transparent;
}

.fadeIn {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fadeIn.show {
  opacity: 1;
  transform: translateY(0);
}

/*video{
    position: relative;
    width: 600px;
    height: auto;
    margin-top: -20rem;
    z-index: -2;
}*/

.pil_forside{
  position: absolute;
  top: 80% ;
  left: 45%;
}


img {
  width: auto;
  height: 10rem;
}

button {
  text-decoration: none;
  font-family: var(--paragraph);
}

button:hover {
  text-decoration: underline;
}

.banner {
  padding: 30px;
  font-size: 1.5rem;
  background-color: #ffb928;
  color: #ff1d01;
  margin-bottom: 10%;
}

:root {
  --heading: condor-extended, sans-serif;
  --paragraph: eurostile, sans-serif;
  --color-default: #000000;
  --h1: clamp(2.5rem, 0.7857rem + 7.3143vw, 2.7rem);
  --h2: clamp(2.5rem, 1.4286rem + 4.5714vw, 5rem);
  --h3: clamp(2.5rem, 1.8571rem + 2.7429vw, 4rem);
  --h4: clamp(2.5rem, 2.3714rem + 0.5486vw, 2.8rem);
  --p: clamp(1.3rem, 1.1667rem + 0.5333vw, 1.6rem);
  --p-footer: 1.875rem;
}
.link {
  font-family: var(--heading);
}

h1 {
  font-family: var(--heading);
  font-size: 4.5rem;
  text-align: center;
}

h2 {
  font-family: var(--heading);
  font-size: var(--h2);
}

h4 {
  font-family: var(--heading);
  font-size: var(--h4);
  font-weight: 500;
}
p {
  font-family: var(--paragraph);
  font-size: var(--p);
  line-height: 2rem;
}

button:hover {
  cursor: pointer;
}

/*SCHEDULE*/
.css-1q1u3t4-MuiTableRow-root{
  height: 125px;
}

.body_event{
  background: rgb(209, 66, 231);
  background: linear-gradient(180deg, rgb(115, 210, 121) 15%, rgb(76, 208, 232) 48%, rgb(54, 27, 144) 82%);

}

/* FOOTER */
.footerContainer {
  display: flex;
  justify-content: space-between;
  border-top: solid 2px black;
  padding: 2rem 4rem;
}

.footerContainer p {
  font-size: 1rem;
}
.footerContainer h4 {
  font-weight: bold;
  font-size: 1rem;
}

.footerInfoBox {
  display: flex;
  gap: 3rem;
}
.footerHeading {
  font-size: var(--p-footer);
  font-weight: bold;
}


.footerInfoBox p{
line-height: 1rem;
}

@media (max-width: 650px) {
  h2 {
    font-size: 2.3rem;
  }
  h1 {
    font-family: var(--heading);
    font-size: 2.3rem;
    text-align: center;
  }
  .footerContainer,
  .footerInfoBox {
    flex-wrap: wrap;
    row-gap: 0rem;
  }
}

