
/* Nav menu */
.navMenu {
    background-color: transparent;
    box-shadow: none;
    display: flex;
  }
  
  /* BURGER */
  /* back icon style */
  .backIcon {
    justify-content: end;
    display: flex;
place-content: end;
  }

  
  .burgerIcon {
    /* Add your custom styles here */
    background-color: transparent;
  }
  .MuiBox-root{
    display: flex;
    place-content: end;
  }
  
  .burgerIcon:hover,
  button.burgerIcon:hover {
    background-color: transparent;
  }

  .MuiToolbar-root{
    place-content: end;
  }

.nav{
        display: flex;
        justify-content: space-between;
        align-items: center;  
}


/* Style for the overskrift class */
.overskrift {
  background-color: aqua;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
   height: 100vh;
  }
  
  
  /* Additional styles for the overskrift class */
  .overskrift h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    padding-top: 40vh;
  }


 /*PROGRAM component*/
 .programKnap{
    width: 50vw; /* Set the width to 100% of the viewport */
    height: 2rem;
    padding-block: 2rem;
    border: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
      background-color: #a534a5;
}


.programContainer {
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    position: relative;
  width: 100%;
  height: 110vh;
  background-color:#FDA0FB;
  margin-top: -2rem;
  
  }

  .imgContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -67px;
    overflow-x: hidden;
  }

  .skyggeProgram{
    width: 200%;
    transform: scaleY(-1);
    transform: translateX(0);
    transition: transform 0.5s ease;
  }
  .skyggeProgram:hover {
    transform: translateX(-17%); 

  }

  
  /*Event component*/
  .eventKnap{
    width: 50vw; /* Set the width to 100% of the viewport */
    height: 2rem;
    margin-top: 5px;
    border: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(153, 245, 242);
}
.eventContainer {
    display: flex;
  justify-content: center;
  align-items: center;
    position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(82,182,232,1) 15%, rgba(244,222,64,1) 74%);
  }



  /*MAP component*/
.mapKnap{
    width: 50vw; /* Set the width to 100% of the viewport */
    height: 2rem;
    margin-top: 5px;
    border: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 153);
}

.mapContainer {
    display: flex;
  justify-content: center;
  align-items: center;
    position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 245, 153);
  }



.artist_column{
    display: flex;
    justify-content: left;
    background-color: rgb(184, 184, 220);
    width: 100vw; /* Set the width to 100% of the viewport */
    height: 10rem;
    margin-top: 10px;
    border: none;
    font-size: 1.2rem;
/* img hya i global 20px margin */
}

.KnapArtist{
    display: flex;
    flex-direction: row;
    background-color: rgb(184, 184, 220);
    position: absolute;
    right: 15px;
    border: none;
    width: 31px;
    height: 20px;
    margin-top: 120px;
}



.artister_forside{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.artist_forside {
    font-size: 8vh;
  line-height: 0rem;

  }



/*STYLING MAP*/ 
/*oveerskrift + underoverskrift*/ 
.map_top{
    background-color:#32A140;
    text-align: center;
    padding-block: 50px;
    margin-bottom: -35px;
    margin-left: 0px;
    margin-top: -7px;
}

.map_overskrift{
    font-size: 2rem;
    color: white;
}

.map_underOverskrift{
    color: white;
    font-size: 1rem;  
    margin-top: -15px
}

.telt1{
    top: 12%;
    left: 3%;
}

.telt2{
    top: 12%;
    left: 57%;
}

.telt3{
    top:37%;
    left:63%;
}


/*STYLING SCENE MODAL*/ 
.scene_modal_body{
    height: 100%;
background-color: #762e75;
}

/*scene navn - overskrift*/ 
  .scene_modal_sceneNavn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    color: yellow;
}

/*Knapper med dagene*/ 
.scene_modal_knapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 7%;
}
.scene_modal_knapper button{
    background-color: transparent;
    border: none;
    font-size: 0.5;
    color: white;
}
.scene_modal_knapper button:hover{
    text-decoration: underline;
}
.active{
    text-decoration: underline;
}

/*flex container med navn og tid*/
.navnTidContainer{
    display: flex;
    align-items: start; 
    place-content: start space-around;
    color: rgb(255, 255, 0);
    border-top: 1px solid black;
    margin-top: 5%;
}
/*kolonne til højre med band navn*/
    .column {
        flex: 1;
        margin-left: 10%;
        padding-right: 5%;
        margin-top: 2%;
    }

/*Band name*/ 
.scene_modal_BandName{
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-left: 10%;
    font-weight: lighter;
}

/*tidspunkt*/
.scene_modal_tidspunkt{
    font-size: 2rem;
    margin-left: 5%;
    font-weight: 600;
}


.backToIndex{
    position: absolute;
    top: 10px;
    left: 10px;
}

.eventOverskrift{
padding: 1rem;
}

.dropDownContainer {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .dropDownContainer h2{
    font-size: 4rem;
    text-align: center;
  }
  .dropDownContainer h2:hover{
    scale: 120%;
  }

  .eventMad{
    background-color: #FDA0FB;
    width: 100%;
    max-width: 800px;
  }

  .eventFest{
    background-color: yellow;
    width: 100%;
    max-width: 800px;
  }

  .eventDrikke{
    background-color: aqua;
    width: 100%;
    max-width: 800px;
  }
  
  .eventKrea{
    background-color: rgb(176, 225, 77);
    width: 100%;
    max-width: 800px;
  }
  







  
 