/* NAVIGATION */
.logo {
    font-family: var(--heading);
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: var(--p);
  }
  .navMenu {
    background-color: transparent;
    box-shadow: none;
  }
  .navStyleBtn1 {
    border: solid 2px black;
    padding: 5px;
    cursor: pointer;
    width: auto;
    height: auto;
    font-size: 2rem;
    font-family: var(--paragraph);
    text-decoration: none;
    color: black;
  }
  .navStyleBtn2 {
    border: none;
    padding: 5px;
    cursor: pointer;
    width: auto;
    height: auto;
    font-size: 2rem;
    font-family: var(--paragraph);
    text-decoration: none;
    color: black;
  }
  .navStyleBtn1:hover,
  .navStyleBtn2:hover {
    font-weight: bold;
    border: solid 3px black;
  }
  
  .navContainer {
    display: flex;
    justify-content: space-between;
    padding-block: 2rem;
  }
  .flexBox {
    display: flex;
    gap: 1rem;
  }
  

/* LANDING PAGE - OVERSKRIFT */
.overskrift {
  
    background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
   height: 100vh;
  }

  .overskrift h1 {
    color: #C760E2;
    font-size: 4rem;
    text-align: center;
    padding-top: 15vh;
  }



/* LANDING PAGE - PROGRAM */
.programContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 110vh;
    
    color: #FFB928;
}

.programContainer h2{
    font-size: 4rem;
    text-align: center;
    padding-inline: 5%;
}

 .programKnap {
    width: 50vw; /* Set the width to 100% of the viewport */
    margin-top: 5px;
    border: none;
    font-size: 2rem;
    text-align: center;
    background-color: white;
}

  
/*LANDING PAGE - EVENT*/
.eventContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
   
}
  
.eventContainer h2 {
    text-align: center;
    margin-bottom: 35px;
    color: #99E854;
    font-size: 4.5rem;
}
  
.eventKnap {
    width: 50vw; /* Set the width to 100% of the viewport */
    margin-top: 5px;
    border: none;
    font-size: 2rem;
    text-align: center;
    background-color: white;
}


/*LANDING PAGE - MAP */
.mapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    
}

.mapContainer h2 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: #FA4DDD;
}
  
.mapContainer svg {
    margin-bottom: 10px;
}
  
.mapKnap {
    width: 50vw; /* Set the width to 100% of the viewport */
    margin-top: 5px;
    border: none;
    font-size: 2rem;
    text-align: center;
    background-color: white;
}


/*STYLING MAP PAGE*/ 
/*oveerskrift + underoverskrift*/ 
.map_top{
    background-color:#32A140;
    text-align: center;
    padding-block: 10px;
    margin-bottom: -35px;
    margin-left: 0px;
    margin-top: -7px;
}
.map_overskrift{
    font-size: 2rem;
    color: white;
}
.map_underOverskrift{
    color: white;
    font-size: 1rem;  
    margin-top: -15px
}

/*placering af telte*/ 
.telt1{
    top: 25%;
    left: 3%;
}
.telt2{
    top: 25%;
    left: 57%;
}
.telt3{
    top:66%;
    left:63%;
}


/*SCENE MODAL */ 

.scene_modal_body_jotu{
height: 100%;
background-color: #CEB7CC;
}
.scene_modal_body_mid{
    height: 100%;
    background-color: #5a2155;
}
.scene_modal_body_van{
    height: 100%;
    background-color: #aeebfa;
}

/*scene navn - overskrift*/ 
  .scene_modal_sceneNavn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    color: yellow;
}

/*Knapper med dage*/ 
.scene_modal_knapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 7%;
}
.scene_modal_knapper button{
    background-color: transparent;
    border: none;
    font-size: 0.5;
    color: white;
}
.scene_modal_knapper button:hover{
    text-decoration: underline;
}
.active{
    text-decoration: underline;
}

/*flex container med navn og tid*/
.navnTidContainer{
    display: flex;
    align-items: start; 
    place-content: start space-around;
    color: rgb(255, 255, 0);
    border-top: 1px solid black;
    margin-top: 5%;
}



/*kolonnen til højre med band navn*/
.column {
    flex: 1;
    margin-left: 10%;
    padding-right: 5%;
    margin-top: 2%;
}
/*Band navn*/ 
.scene_modal_BandName{
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-left: 10%;
    font-weight: lighter;
}

/*tidspunkt*/
.scene_modal_tidspunkt{
    font-size: 2rem;
    margin-left: 5%;
    font-weight: 600;
}



/*STYLING EVENT PAGE*/ 
.eventOverskrift{
padding: 1rem;
}

.eventCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    background-color: #f0f0f0;
    padding-block: 5%;
    padding-inline: 7%;
    max-width: 300px; /* Adjust this value as needed */
    margin: 0 auto; /* To center the card horizontally */
}
  
.eventCard img {
    height: 400px;
    max-width: 100%;
}
  
.eventCard h2 {
    margin-top: 10px;
}
  
.eventCard p {
    margin-top: 5px;
}
  







  
 