.modal_artister_body{
  background-color: rgb(255, 210, 228);
  overflow-x: hidden;
}


.ModalConcertInfo span,
.ModalBio span {
  font-weight: bold;
}

.ModalInfo {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-inline: 2rem;
  color: rgb(255, 98, 0);
}

.ModalButton {
  z-index: 1;
  position: absolute;
  margin: 2rem 0rem 0rem 2rem;
  /* place-self: center; */
  background-color: white;
}

.ModalArtistName {
  margin-top: 5%;
 color: rgb(255, 47, 10);
  text-align: left;
  margin-left: 2rem;
  font-size: var(--h2);
  white-space: pre-wrap;
}
/* 
.longText {
  margin-top: -20%;
} */

.ModalImg {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.ModalBio {
  max-width: 60%;
  color: rgb(255, 98, 0);
}



@media (max-width: 750px) {
  .ModalSection {
    margin-bottom: -1rem;
    display: grid;
  }

  .ModalButton {
    width: 10rem;
  }

  .ModalImg {
    position: relative;
    top: 25%;
    left: 40%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 0px;
  }

  .ModalArtistName {
    margin-top: -16%;
    z-index: 10;
    font-size: 3.7rem;
  }
  .ModalBio {
    margin-left: auto;
    max-width: 800px;
  }

  .ModalConcertInfo{
  display: flex;
  gap: 1rem;
  margin-top: 25px;
  }

  .modal_artister_dato{
    margin-inline-end: -9px;
    margin-inline-start: 10px;
    text-transform: uppercase;
    
  }
}

