/* Inspiration from tinderbox program setup with line indication and schema:
 https://tinderbox.dk/program/?gad=1&gclid=CjwKCAjwjYKjBhB5EiwAiFdSfiRSNWo1SbtqktdsBSz9BluuzPH0NGo6nI9zuTTo43puyqPPzRvPhBoCFG4QAvD_BwE
 */

/* SCHEDULE */

.schedule_body{
  background: rgb(104, 231, 88);
  background: linear-gradient(180deg, rgba(104, 231, 88, 1) 15%, rgba(129, 38, 235, 1) 45%, rgba(82, 230, 232, 1) 82%);
}

.scheduleSection {
  display: flex;
  margin-inline-start:2rem ;
}
.scheduleHeading {
  line-height: 6rem;
  text-transform: uppercase;
}

.dayName{
  text-align: center;
}

.schedule_sceneNavne{
  margin-top: 70px;
  margin-inline-start: -10px;
}

.schedule_sceneNavne p{
  line-height: 120px;
}
.link {
  font-size: var(--h3);
  -webkit-text-stroke: 1.5px black;
  color: transparent;
  font-family: var(--heading);
  text-align: center;
  display: grid;
  margin-top: -4rem;
  margin-bottom: 8rem;
}
.link:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.act_wrapper {
  padding-left: 80px;
  padding-right: 20px;
}
/* Stage buttons */
.days {
  display: flex;
  justify-content: center;
  gap: 1rem;
  overflow-x: auto;
  margin-block-end: 40px;
}
.schedule_days h2{
  text-align: center;
}
.days button {
  flex-shrink: 0;
  /* ensures buttons don't shrink to fit the container width. */
  width: 10rem;
}

@media (min-width: 700px) {
  .link {
    margin-bottom: 16rem;
  }
  .days{
    place-content: center;
  }
}

@media (min-width: 400px) {
  .days {
    justify-content: flex-start; /* This ensures the left alignment of items */
    padding: 1rem;
    margin-top: -20%;
    margin-block-end: 0px;
  }
  .days button {
    flex-shrink: 0;
    /* ensures buttons don't shrink to fit the container width. */
    width: 7rem;
  }
}



